var formatDate = function (timestamp, option) {
  
  if (timestamp == '' || timestamp == null || timestamp== undefined){
    return '';
  };
  var reg = getRegExp("-", "g");
  
  var date = getDate(timestamp.replace(reg, '/'));
  
  var year = date.getFullYear();
  var month = date.getMonth() + 1;
  var day = date.getDate();
  var hour = function () {
    return date.getHours() < 10 ? '0' + date.getHours() : date.getHours();
  }
  var minute = function () {
    return date.getMinutes() < 10 ? '0' + date.getMinutes() : date.getMinutes();
  }
  var second = function () {
    return date.getSeconds() < 10 ? '0' + date.getSeconds() : date.getSeconds();
  }

  if (option == 'YY-MM-DD') return " " + year + "-" + month + "-" + day;

  if (option == 'YY-MM') return " " + year + "-" + month;

  if (option == 'YY') return " " + year;

  if (option == 'MM') return " " + month;

  if (option == 'DD') return " " + day;

  if (option == 'yesterday') return " " + day - 1;

  if (option == 'hh-mm-ss') return " " + hour() + ":" + minute() + ":" + second();
  if (option == 'hh-mm') return " " + hour() + ":" + minute();
  if (option == 'mm-ss') return minute() + ":" + second();
  if (option == 'mm') return minute();
  if (option == 'ss') return second();
  if (option == 'yyyy年MM月DD日') return " " + year + "年" + month + "月" + day+"日";
  if (option == 'HH:mm') return " " + hour() + ":" + minute();
  return year + '-' + month + '-' + day + ' ' + hour() + ':' + minute() + ":" + second();
};
function checked(obj, par,val){
  var p = obj[par];
  if(p!=undefined){
    if(p.check!=undefined){      
      if(p.check.indexOf(val)>-1){
        return 'checked'
      }
    }
  }  
  return "";
};
function value(obj, par,i){
  if(i==0){
    if(obj[par]!=undefined){
      return obj[par].check[0];
    }
  }else if(i==1){
    if(obj[par]!=undefined){
      return obj[par];
    }
  }else{
    var p = obj[par];
    if(p!=undefined){
      if(p.other!=undefined){
        return p.other;
      }
    }
  }
  return '';
}
module.exports = {
  formatDate: formatDate,
  checked:checked,
  value:value
};